In [ ]:
# 1. **Departments with Average Salary > $50,000**:
#    - Identify departments where the average employee salary exceeds $50,000.
SELECT
    d.dept_name,
    AVG(e.salary) AS avg_salary
FROM employees e
JOIN departments d ON e.department_id = d.dept_id
GROUP BY d.dept_id
HAVING AVG(e.salary) > 50000;

In [ ]:
# 2. **Employees with Above-Average Salary Working on >1 Project**:
#    - List employees whose salary is above the average for their department and who are involved in more than one project.
SELECT
    e.emp_id,
    e.full_name,
    e.salary,
    e.department_id,
    d.dept_name,
    COUNT(ep.project_id) AS project_count
FROM employees e
JOIN departments d ON e.department_id = d.dept_id
JOIN employee_projects ep ON e.emp_id = ep.emp_id
GROUP BY e.emp_id
HAVING
    e.salary > (
        SELECT AVG(salary)
        FROM employees
        WHERE department_id = e.department_id
    )
    AND COUNT(ep.project_id) > 1;

In [ ]:
# 3. **Highest Salary by Department & Related Projects**:
#    - Identify employees with the highest salary in each department and the projects they are working on.
SELECT
    e.emp_id,
    e.full_name,
    e.salary,
    d.dept_name,
    p.project_id,
    p.project_name
FROM employees e
JOIN departments d ON e.department_id = d.dept_id
LEFT JOIN employee_projects ep ON e.emp_id = ep.emp_id
LEFT JOIN projects p ON ep.project_id = p.project_id
WHERE e.salary = (
    SELECT MAX(salary)
    FROM employees
    WHERE department_id = e.department_id
)
ORDER BY d.dept_name, e.emp_id;

In [ ]:
# Highest salary in each department
SELECT
    e.emp_id,
    e.full_name,
    e.salary,
    d.dept_name
FROM employees e
JOIN departments d ON e.department_id = d.dept_id
WHERE e.salary = (
    SELECT MAX(salary)
    FROM employees
    WHERE department_id = e.department_id
)
ORDER BY d.dept_name, e.emp_id;